{{ if .Site.Data.homepage.awards.enable }}
<section class="section section--border-bottom rad-animation-group", id="awards">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12">
                <h2>{{ .Site.Data.homepage.awards.title }}</h2>
                <div class="row pt-2 pt-md-4">
                    {{ range .Site.Data.homepage.awards.items }}
                    <div class="col-12 col-sm-12 mb-4 mb-sm-5">
                        <div class="awards">
                            <div class="awards__date">{{ .year }}</div>
                            <div class="awards__title">{{ .award }}</div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
