{{ if .Site.Data.homepage.publication.enable }}
<section class="section section--border-bottom rad-animation-group", id="publication">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12">
                <h2>{{ .Site.Data.homepage.publication.title }}</h2>
                <div class="row pt-2 pt-md-4">
                    {{ range .Site.Data.homepage.publication.items }}
                    <div class="col-12 col-sm-12 mb-4 mb-sm-5">
                        <div class="publication">
                            <div class="publication__date">{{ .year }}</div>
                            <div class="publication__title">{{ .publication }}</div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
